<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "chartkick" %>

<% current_user.badges.each do |badge| %>
<%= badge.description %>
<% end %>

<div class="stat-container">
  <h1>Statistics</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Thrifted clothes ratio</h3>
      <%= pie_chart (@thrift_hash),donut: true, height: "200px" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Composition</h3>
      <%= pie_chart @composition_hash, height: "200px" %>
    </div>
    <div class="w-100"></div>
  </div>
      <h4>Average life expectancy</h3>
      <%= bar_chart @products.group(:category).sum(@lifetime),xtitle: "Months",label: "Months" %>
       <h4>Where are my clothes from ?</h3>
      <%= geo_chart @products.group(:origin).count %>
</div>
