<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "chartkick" %>

<div class="stat-container">
  <h1>Statistics</h1>
  <% if current_user.badges %>
    <div class="badges">
      <ul>
        <% current_user.badges.each do |badge| %>
          <li>
            <%= image_tag(badge.custom_fields[:image])%><br>
            <%= badge.description%><br>
            <%= badge.custom_fields[:advice] %>
          </li>
        <% end %>
      </ul>
    </div>
    <br style="clear:both" />
  <%end %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h4>Thrifted clothes ratio</h3>
      <%= pie_chart (@thrift_hash),donut: true, height: "200px" %>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Composition of your new clothes</h3>
      <%= pie_chart @composition_hash, height: "200px" %>
    </div>
    <div class="w-100"></div>
    <h4>What did you do with your old clothes ?</h3>
    <%= pie_chart @status_hash, height: "200px" %>
  </div>
      <h4>Average time spent in your wardrobe</h3>
      <%= bar_chart @products.group(:category).sum(@lifetime),xtitle: "Months",label: "Months" %>
       <h4>Where were your clothes made ?</h3>
      <%= geo_chart @products.group(:origin).count %>
</div>
