<h1>Products</h1>
<% @products.each do |product| %>
<h3>Title: <%= product.title%> </h3>


<h4>Description: <%= product.description%> </h4>

<%= product.description%>



<p>
 <%= link_to "See more", product_path(product) %>
</p>



<% end %>	

<%= link_to "Add New Product", new_product_path(@product) %>


