<h1 class="title-index">My Wardrobe</h1>
<p class="add-product"><%= link_to "Add New Product", new_product_path(@product) %></p>


<div class="card-all">
  <% @products.each do |product| %>
    <div class="card-trip">
      <%if product.photo.attached? %>
        <div class="img-card">
          <span class="tag">status</span>
          <%= link_to product_path(product) do %>
            <%=cl_image_tag product.photo.key%>
          <% end %>
        </div>
        <%else%>
        <div class="img-card">
          <span class="tag">status</span>
          <%= link_to product_path(product) do %>
            <%= cl_image_tag("summer-clothes-set_74855-446_ehwivf.jpg") %>
          <% end %>
        </div>
      <%end%>
      <div class="card-trip-infos">
        <div>
          <%= link_to product_path(product) do %>
            <h3 class="title-product"><%=product.title%></h3>
          <% end %>
          <span class="second-hand">frippe</span>
          <%if product.description.length >= 0 %>
            <p><%=product.description.first(90)%>...</p>
          <%else%>
            <p><%=product.description%></p>
          <%end%>
        </div>
        <p class="card-trip-pricing"><%= link_to "See more", product_path(product) %></p>
      </div>
    </div>
  <% end %>
</div>




