<div class="container-show">
  <!--   <h1>Produit : <%= @product.title %></h1> -->
 <h1><%= @product.title %></h1>
<div class="big-container-show">
 <div class="container-left">
  <div class="img-show">
    <%if @product.photo.attached? %>
    <!-- <span class="tag">status</span> -->
    <span class="tag"><%= link_to "Edit ", edit_product_path(@product) %></span>
    <%= cl_image_tag @product.photo.key %>
    <%else%>
    <span class="tag"><%= link_to "Edit ", edit_product_path(@product) %></span>
    <%= cl_image_tag("summer-clothes-set_74855-446_ehwivf.jpg") %>
    <%end%>
  </div>
</div>
  <div class="text-show">
    <!--     <h3>Description</h3>
    <p><%= @product.description%></p> -->
    <h3>Brand</h3>
      <p><%= @product.brand%></p>
    <h3>Product status</h3>
    <% if @product.second_hand == true %>
        <p>Second hand</p>
      <% else %>
        <p>New</p>
    <%end %>
    <h3>Category</h3>
      <p><%= @product.category%></p>
    <h3>Made in</h3>
      <p><%= @product.origin%></p>
    <span><%= link_to "Delete" , product_path(@product),
      method: :delete,
      data: { confirm: "Are you sure?" }, class: "delete-show" %>
    </span>

<div class="fixed-action-btn horizontal click-to-toggle spin-close">
    <a class="btn-floating btn-large red">
      <i class="material-icons">edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

    <p><%= link_to 'My Wardrobe', root_path, class: "back" %></p>
      </div>
    </div>
    <div>
  </div>
<div>
    <ul id="proportions">
      <% @product.proportions.each do |proportion| %>
      <%= render "proportions/show", proportion: proportion  %>
      <% end %>
    </ul>
  </div>
  <div class="add-proportion">
    <h3>Add materials</h3>
    <%= render "proportions/form", proportion: @proportion, product: @product  %>
  </div>
</div>
</div>
